.header-el {
  background-color: #404040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3rem 1rem 3rem;
}
h1 {
  margin: 0px;
  color: #fff;
  font-size: 3rem;
}
a {
  font-size: 1.5rem;
  margin: 0px;
  line-height: 2rem;
  text-decoration: none;
}
